footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--very-dark-violet);
    padding: 1rem 5%;
    color: white;
  }
  
  footer nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0.5rem;

    li {
      margin: 0.1rem 2rem;
      cursor: pointer;
    }
  }
  
  .socials-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .attribution {
    position: absolute;
    bottom: 0.5rem;
    right: 2rem;
    font-size: 11px; 
    text-align: center;
  }
  
  .attribution a { 
    color: rgba(255, 255, 255, 0.623);
    letter-spacing: 0.2rem;
    margin: 0 0.5rem;
    font-weight: 300;
  }

  @media screen and (max-width: 500px) {
    footer {
      flex-direction: column;
    }
    footer nav ul {
      display: flex;
      flex-direction: column;
    }

    .socials-container {
      margin-bottom: 2rem;
    }

    .attribution {
      position: initial;
      
    }
  }